.title-border {
    max-width: fit-content;
    margin: 40px auto;

    p:last-child {
        display: inline-block;
        width: 60%;
        border-bottom: 5px solid blue;
    }
  }

  
.content {
    h2 {
        text-align: start;
        border-bottom: 3px solid blue;
        padding: 10px 0px;
        margin-bottom: 40px;
    }

    section {
        padding: 0px 10px;
        width: 50%;
    }

    input {
        margin-bottom: 5px;
    }

    .adress adress {
        display: flex;
        flex-direction: column;
        text-align: start;
    
        p {
            margin-bottom: 0px;
        }

        svg {
            margin-right: 5px;
        }
    }

    button {
        margin: 10px 0px 40px 0px;
    }

    iframe {
        width: 100%;
        margin: 20px 0px;
    }

}

@media (max-width : 768px) {
    .content section {
        width: 100%;
    }
}