@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

header a:hover {
  text-decoration: underline;
}

header h1 {
  margin: 0px;
}

footer section {
  align-self: baseline;
  margin: 30px;
  flex-basis: 20%;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  font-weight: bold;
}
footer a svg {
  opacity: 50%;
}
footer a svg:hover {
  opacity: 100%;
}
footer .liens a {
  display: block;
}

footer .adress a {
  padding-right: 10px;
}

footer .adress p {
  margin: 10px 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}


@media (max-width: 768px) {
  .content, footer .navbar {
    flex-wrap: wrap;
  }
}
